@using LearnJQuery.Controllers
@model LearnJQuery.Controllers.TaskRepository

@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<h2>title</h2>
<ul id="tasks">
    @foreach (jTask task in Model.Tasks)
    {

        {
            var className = "";
            if (task.State == jTask.TaskState.Completed)
            {
                className = "done";
            }

            <li class="@className" id="taskId-@task.Id">@task.Name</li>
        }
    }
</ul>
<input type="text" id="taskText"><input id="submit" type="submit" value="using clientside">

<form id="AddTaskForm">
    <input type="text" name="Name" />
    <input type="submit" id="AddTaskSubmit" value="ajax post" />
</form>

