@using LearnJQuery.Controllers
@model TaskRepository

@{
    ViewBag.Title = "title";
    Layout = "_Layout.cshtml";
}

<h2>title</h2>
<ul id="tasks">
    @foreach (jTask task in Model.Tasks)
    {

        {
            var className = "";
            if (task.State == jTask.TaskState.Completed)
            {
                className = "done";
            }

        <li class="@className" id="taskId-@task.Id">@task.Name</li>
        }
    }
</ul>
<input type="text" id="taskText"><input id="submit" type="submit" value="using clientside">
<a href="#" id="openTask">Add task</a>
<div id="dialog" style="display:none;">
    <form id="AddTaskForm">
        <input type="text" name="Name" />
        <input type="submit" id="AddTaskSubmit" value="ajax post" />
    </form>
</div>

<form id="validateForm">
    <label>username</label> <input type="text" name="username" class="required"/> <span>required, must be unique</span><br/>
    Email <input type="text" class="required email"/> <span>required, valid email</span><br/>
    Password <input type="password" name="password" class="required"/> <span>required, 8 chars</span>

    <input type="submit"/>
    
</form>
